.home-tag{
font-size: 20px;
    line-height: 37px;
    text-align: center;
}
.head-tag{
	
	color: #81c328;
    font-weight: bold;
    border-bottom: 2px solid #53b737;
    display: inline;
    padding-bottom: 12px;
}

.vison{
	padding-bottom: 5px;
    display: inline;
    border-bottom: 2px solid #304a01;
}

.heads1{
     font-family: 'Courgette', cursive;
    color: #e06d1c;
    text-align: center;
    font-size: 29px;
    font-style: italic;
	
}
.heads2{
    color: #52953f;
    font-weight: bold;
	
}
.coming{
	
	    font-size: 50px;
}

.box-shadow {
    box-shadow: 1px -4px 8px 2px rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 51px 33px;
	font-size: 17px;
}
	.story-pic1{
		
		 margin: 0 auto;
		  /* box-shadow: 1px -4px 8px 2px rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	}
.small {
display: block;
line-height: 1.428571429;
color: #999;
}
.white{
	
	color:white;
}
strong{
	
	font-family: 'Courgette', cursive;
	color:#e06d1c;
	font-weight:bold;
	    padding-right: 6px;
}